
* {
    margin: 0;
    padding: 0;
    
}


body {
    background-image: url('/images/background-2462431.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
/* navbar */


.nav-item {
    padding: 1px 20px;
    
    
}

.nav-link {
    color: antiquewhite;
}



/*image section*/


#bi {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.7) url('images/technology-1283624.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

#me {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
}

#jfsd {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;

}

.d-block {

    color: white;
    padding-left: 30px;
}

/* about me*/

#headaboutme {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#col1 {
    
    padding-right: 50px;
    

}

#col2 {

    padding: 100px;
    
}

#img {

    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 300px;
    clip-path: circle();

    

}

.AM {

    display: block;
    position: relative;
    top: 8%;
    font-size: 80px;
  

}


 .aboutme {
    
    display: flex;
    position: relative;
    padding-top: 10%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

#glass {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: azure;
    font-size: 25px;
}


/*experince*/

#exp {
    min-height: 50vh;
}


.experince {
    text-align: center;
    position: relative;
    padding-top: 3%;
}


.card-body {
    text-align: center;
    
}


#glass1 {

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: azure;
    font-size: 20px;
}

/*projects*/

#pro {
    text-align: center;
}

/*edu*/

#edu {
    
    min-height: 90vh;
}

#educat {
    text-align: center;
}

#room, #sri{
    font-size: 35px;
}

#glass2, #glass3 {

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: azure;
    font-size: 25px;
}

/*skills*/

#skill {
    min-height: 90vh;
}

#skills {
    text-align: center;
    padding: 3%;
}

#glass4, #glass5 {

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: azure;
    font-size: 25px;
}

.content, .content1 {
    padding-top: 20px;
}
